/* font-family: "courer-new"; */
@font-face {
    font-family: 'Courier New';
    src: url("../fonts/courier-new/courier-new.eot");
    src: url("../fonts/courier-new/courier-new.eot?#iefix")format("embedded-opentype"),
    url("../fonts/courier-new/courier-new.woff")format("woff"),
    url("../fonts/courier-new/courier-new.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "mt-centaur"; */
@font-face {
    font-family: 'mt-centaur';
    src: url("../fonts/mt-centaur/mt-centaur.eot");
    src: url("../fonts/mt-centaur/mt-centaur.eot")format("embedded-opentype"),
    url("../fonts/mt-centaur/mt-centaur.woff")format("woff"),
    url("../fonts/mt-centaur/mt-centaur.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "myriad-pro"; */
@font-face {
    font-family: 'myriad-pro';
    src: url("../fonts/myriad-pro/myriad-pro.eot");
    src: url("../fonts/myriad-pro/myriad-pro.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriad-pro/myriad-pro.woff")format("woff"),
    url("../fonts/myriad-pro/myriad-pro.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}